input[type=text], textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: both; 
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin: 0 auto;
    max-width: 1380px;
    width: 70%;
}


.nested {
	border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
	margin: 0 auto;
    max-width: 1380px;
    width: 100%
}